body{
  margin: 0;
}
.container{
  background-color: #e1dede;
}
.sidebar {
    height: 100%;
    width: 399px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#FFF;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #5a5656;
  }
  
  /* Style the main content */
  .main {
    height: 796px;
    width: 1075px;
    background-color: #F1F1F1;
    margin-left: 399px; /* Same as the width of the sidenav */
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }